/* Selektor znacznika - ten komentarz
moze byc na kazdej linii*/

p {
    color: orange;
}


/* Selektor id */

#paragraph {
    color: blue;
}


/* Selektor klasy */

.akapit {
    color: red;
}


/* Łączenie selektorów */

a,
span,
div {
    color: green;
}


/* Selektor bezpośredniego elementu potomnego */

li>a {
    color: yellow;
}


/* Selektor elementów potomnych */

div a {
    color: gray;
}

/* Selektor bliskiego rodzeństwa */
/* zmienia na tym samym poziomie pierwsze h3 po pierwszym h2*/
h2 + h3 {
    color: cadetblue;
}

/* Selektor rodzeństwa */

h4 ~ p {
    color: chocolate;
}




